<!DOCTYPE html>
<html>
<head>
  <title>GiftList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="myApp">

<div class="container">
<div class="row" id="headerRow">
        <div class="col-md-2">
          <h1> WISHCROWD </h1>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <% if user_signed_in? %>
            <% else %>
              <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
            <% end %>
        </div>
</div>
</div>


  <div class="container" ng-controller="GiftItemController">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>